.gitignore
.DS_Store
.venv
*.conf
data/
mykbd.xkm
statistic.xml
traffic_lights.dat
traffic_lights_log.csv
values.dat
ising_traffic_simulator/__pycache__/*
global_weight/*
run.sh
data_generation/tripinfo.xml
tripinfo.xml
data_generation/*.txt
data_generation/*.sh
data_generation/*.net.xml
data_generation/*.rou.alt.xml
data_generation/*.rou.xml
data_generation/*.tmp2.net.xml
data_generation/*.edg.xml
data_generation/*.nod.xml
data_generation/*.priority_3way.yaml
data_generation/*.sumocfg
data_generation/*.trips.xml